<section>
  <h2>Crie sua própria sala</h2>
  <form action="/create-room" method="POST">
    <label for="room-pass" class="sr-only">Insira uma senha</label>
    <!--sr-only é para depois em CSS deixar esse label invisivel, porem os motores de busca do google continuar identificando.-->
    <input type="password" name="password" id="room-pass" placeholder="Insira uma senha">
    <button>
      <img src="images/users-white.svg" alt="Entrar na sala">
      Criar Sala
    </button>
  </form>
</section>